[Unit]
Description=x11vnc VNC Server for X11
Requires=graphical.target
After=graphical.target
StartLimitBurst=10


[Service]
User=root
Type=forking
ExecStart=/usr/bin/x11vncd
ExecStop=/usr/bin/killall x11vnc
Restart=on-failure
Restart-sec=2

[Install]
WantedBy=graphical.target